.shop{
    display:flex; 
}
.product{
    flex:0.8;
    display:grid;
    border: 1px solid #ccc;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.cart{
    flex:0.2;
    margin-left: 50px;
}